<section class="flex-ns vh-100 items-center">
  <div class="mw6 ph5">
    <img src="assets/landing-guitar.jpg">
  </div>
  <div class="tc tl-ns ph3">
    <h1 class="f3 f1-l fw2 mb3 mt4 mt0-ns">AudioSurf</h1>
    <h2 class="f5 f3-l fw1 mb4 mb5-l lh-title">Every musicians toolbox</h2>
  </div>
</section>
