<section class="flex-ns vh-100 items-center">
  <div class="mw6 ph5">
    <img src="assets/landing-guitar.png">
  </div>
  <div class="tc tl-ns ph3">
    <h1 class="f3 f1-l fw2 mb3 mt4 mt0-ns">AudioSurf</h1>
    <h2 class="f5 f3-l fw1 mb4 mb5-l lh-title">Find instruments that are right for you</h2>
      <a href="<%= instruments_path %>" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">
        <span class="pl1">Products</span>
      </a>
  </div>
</section>
