<h1>instrument gallery</h1>
<% @instruments.each do |instrument| %>
  <%= link_to image_tag(instrument.image), instrument_path(instrument) %>
  <%= instrument.description  %>
  <%= instrument.price  %>
<% end %>
